.title{
  font-size: clamp(3rem, 5vw, 270px);
  white-space: nowrap;
  margin-top: -80px;
  text-align: center;
  font-family: 'General', sans-serif; // Certifique-se de que a fonte esteja definida corretamente
  font-weight: 500;

}
